
<div class="d-flex flex-column gap-3">
  <div class="d-flex flex-column">
    <%= form.label 'Nome:', class: 'form-label' %>
    <%= form.text_field :name, placeholder: 'Nome', class: 'form-control' %>
  </div>

  <%= form.submit submit_button_text, class: 'btn btn-primary' %>
</div>
