
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered text-center text-nowrap align-middle">
    <%= yield :table %>
  </table>
</div>

<style>
  td:last-child {
    width: 20%;
  }
</style>
