

<% content_for :table do %>
  <thead>
    <tr>
      <th>Tipo de Registro</th>
      <th>Quantidade</th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |label, count| %>
      <tr>
        <td class="text-start"><%= label %></td>
        <td> <%= count %> </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Tipo de Registro</th>
      <th>Quantidade</th>
    </tr>
  </tfoot>
<% end %>

<div class="row">
  <div class="col d-flex flex-column gap-5">
    <h1 class="text-center">Dashboard</h1>

    <%= render partial: 'partials/tables' %>
  </div>
</div>
