
<div class="d-flex flex-column justify-content-center" style="min-height: 80vh">
  <span class="m-auto">
    <h3>
      Para começar, selecione o que deseja ver pela barra de navegação acima!
    </h3>
  </span>
</div>
